<div class="new-main-banner-wrap-slides-area new-main-home-wrap-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="new-main-banner-wrap-slides-item" style="background-image: url(assets/img/new-main-banner/new-banner-4.jpg);">
                <div class="container">
                    <div class="new-main-banner-wrap-slides-content">
                        <h1>Your Cyber Security Is In Your Hand Now</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra. Eget quam lacus enim porttitor bibendum elit, dui nisl. Aenean turpis ut pretium et.</p>
                        <ul class="banner-btn-box">
                            <li>
                                <a routerLink="/contact" class="default-btn-two">Request Free Access</a>
                            </li>
                            <li>
                                <a routerLink="/contact" class="optional-btn">Get Started Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="new-main-banner-wrap-slides-item" style="background-image: url(assets/img/new-main-banner/new-banner-5.jpg);">
                <div class="container">
                    <div class="new-main-banner-wrap-slides-content">
                        <h1>Your Cyber Security Is In Your Hand Now</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra. Eget quam lacus enim porttitor bibendum elit, dui nisl. Aenean turpis ut pretium et.</p>
                        <ul class="banner-btn-box">
                            <li>
                                <a routerLink="/contact" class="default-btn-two">Request Free Access</a>
                            </li>
                            <li>
                                <a routerLink="/contact" class="optional-btn">Get Started Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>