<div class="testimonials-area">
    <div class="container">
        <div class="testimonials-slides">
            <owl-carousel-o [options]="feedbackSlides">
                <ng-template carouselSlide>
                    <div class="single-testimonials-card">
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat adipiscing.</p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img src="assets/img/testimonials/testimonials-1.jpg" alt="author">
                                <div class="title">
                                    <h3>Jasica Lora <span>- Security Lead</span></h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quote-shape">
                            <img src="assets/img/testimonials/quote-shape.png" alt="image">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-card">
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat adipiscing.</p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img src="assets/img/testimonials/testimonials-2.jpg" alt="author">
                                <div class="title">
                                    <h3>Sarah Taylor <span>- Developer</span></h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quote-shape">
                            <img src="assets/img/testimonials/quote-shape.png" alt="image">
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="single-testimonials-card">
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris nisi ut aliquip ex ea commodo consequat adipiscing.</p>
                        <div class="client-info">
                            <div class="d-flex align-items-center">
                                <img src="assets/img/testimonials/testimonials-3.jpg" alt="author">
                                <div class="title">
                                    <h3>Victor James <span>- Security Analytics</span></h3>
                                    <div class="rating">
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                        <i class="lni lni-star-filled"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="quote-shape">
                            <img src="assets/img/testimonials/quote-shape.png" alt="image">
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>