<div class="safer-world-area pt-100 pb-75">
    <div class="container-fluid">
        <div class="section-title">
            <h2>We Create A Safer World</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="safer-world-slides">
            <owl-carousel-o [options]="saferWorldSlides">
                <ng-template carouselSlide>
                    <div class="safer-world-card">
                        <div class="safer-world-image">
                            <a routerLink="/services-details">
                                <img src="assets/img/safer-world/safer-world-1.jpg" alt="image">
                            </a>
                        </div>
                        <div class="safer-world-content">
                            <h3>
                                <a routerLink="/services-details">Disaster Planning</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                            <a routerLink="/services-details" class="safer-world-btn">View Details <i class="lni lni-arrow-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="safer-world-card">
                        <div class="safer-world-image">
                            <a routerLink="/services-details">
                                <img src="assets/img/safer-world/safer-world-2.jpg" alt="image">
                            </a>
                        </div>
                        <div class="safer-world-content">
                            <h3>
                                <a routerLink="/services-details">Infrastructure Security</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                            <a routerLink="/services-details" class="safer-world-btn">View Details <i class="lni lni-arrow-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="safer-world-card">
                        <div class="safer-world-image">
                            <a routerLink="/services-details">
                                <img src="assets/img/safer-world/safer-world-3.jpg" alt="image">
                            </a>
                        </div>
                        <div class="safer-world-content">
                            <h3>
                                <a routerLink="/services-details">Application Security</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                            <a routerLink="/services-details" class="safer-world-btn">View Details <i class="lni lni-arrow-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="safer-world-card">
                        <div class="safer-world-image">
                            <a routerLink="/services-details">
                                <img src="assets/img/safer-world/safer-world-4.jpg" alt="image">
                            </a>
                        </div>
                        <div class="safer-world-content">
                            <h3>
                                <a routerLink="/services-details">Cloud Security</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                            <a routerLink="/services-details" class="safer-world-btn">View Details <i class="lni lni-arrow-right"></i></a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="safer-world-card">
                        <div class="safer-world-image">
                            <a routerLink="/services-details">
                                <img src="assets/img/safer-world/safer-world-5.jpg" alt="image">
                            </a>
                        </div>
                        <div class="safer-world-content">
                            <h3>
                                <a routerLink="/services-details">Threat Hunter</a>
                            </h3>
                            <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                            <a routerLink="/services-details" class="safer-world-btn">View Details <i class="lni lni-arrow-right"></i></a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>