<!-- Page Title -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <span class="sub-title">Application Security</span>
            <h1>Let’s Talk Something Amazing Together!</h1>
            <div class="contact-form">
                <form>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Name *</label>
                                <input type="text" class="form-control" placeholder="Eg: Sarah Taylor">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="form-group">
                                <label>Email *</label>
                                <input type="email" class="form-control" placeholder="sarah@gmail.com">
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label>Services *</label>
                                <select class="form-select">
                                    <option selected="">Application Security</option>
                                    <option value="1">Cloud Security</option>
                                    <option value="2">Infrastructure Security</option>
                                    <option value="3">Threat Hunter</option>
                                    <option value="4">Disaster Planning</option>
                                    <option value="5">Other</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" class="default-btn"><span>Send Message</span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div>
</div>

<!-- Services Details -->
<div class="services-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="services-details-content">
                    <h2>About <strong>Application</strong> Security</h2>
                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="services-details-text">
                    <p><strong>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</strong></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stadard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type spmen book. It has survived not only five centuries, but also the leap into electronic typesetting. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected.</p>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.</p>
                </div>
            </div>
            <div class="col-lg-12 col-md-12">
                <div class="services-details-image">
                    <img src="assets/img/services/services-details.jpg" alt="services-details-image">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services -->
<div class="services-area pt-100 pb-75 bg-f5f8ff">
    <div class="container">
        <div class="section-title">
            <h2>Benefits for Application Security</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon1.png" alt="services-icon">
                    </div>
                    <h3>Application Security</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon2.png" alt="services-icon">
                    </div>
                    <h3>Cloud Security</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon3.png" alt="services-icon">
                    </div>
                    <h3>Infrastructure Security</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon4.png" alt="services-icon">
                    </div>
                    <h3>Threat Hunter</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon5.png" alt="services-icon">
                    </div>
                    <h3>Disaster Planning</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon6.png" alt="services-icon">
                    </div>
                    <h3>Incident Responder</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="shape"></div>
</div>

<!-- Web Security -->
<div class="web-security-area bg-image1 ptb-100">
    <div class="container">
        <div class="web-security-content">
            <h2>Complete Website Security</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="features-list">
                <li><i class="lni lni-checkmark"></i> Malware Detection Removal</li>
                <li><i class="lni lni-checkmark"></i> Content Delivery Network</li>
                <li><i class="lni lni-checkmark"></i> Managed Web Application</li>
                <li><i class="lni lni-checkmark"></i> 24/7 Cyber Security Support</li>
                <li><i class="lni lni-checkmark"></i> Protection for Data and Networks</li>
                <li><i class="lni lni-checkmark"></i> Refresh Network Security Controls</li>
            </ul>
            <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
        </div>
    </div>
</div>

<!-- About -->
<div class="about-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-image bg-image1">
                    <img src="assets/img/about/about1.jpg" alt="about-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <h2>We Different From Others Should Choose Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <img src="assets/img/about/icon1.png" alt="icon">
                            <h3>Cyber Security Expert</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon2.png" alt="icon">
                            <h3>Industry Expertise</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                        <li>
                            <img src="assets/img/about/icon3.png" alt="icon">
                            <h3>Remote Workers</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
</div>

<!-- Services -->
<div class="services-area pt-100 pb-75 bg-image">
    <div class="container">
        <div class="section-title">
            <h2>A Turnkey Solution For Threat Detection</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon1.png" alt="services-icon">
                    </div>
                    <h3>Security Advisory</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon2.png" alt="services-icon">
                    </div>
                    <h3>Technical Assurance</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-services-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon3.png" alt="services-icon">
                    </div>
                    <h3>Managed Services</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="shape"></div>
</div>

<!-- FAQ -->
<div class="faq-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="faq-sidebar">
                    <ul>
                        <li><a routerLink="/faq" class="active">Help Center</a></li>
                        <li><a routerLink="/privacy-policy">Shipping Information</a></li>
                        <li><a routerLink="/terms-conditions">Return Policy</a></li>
                        <li><a routerLink="/terms-conditions">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="faq-accordion accordion">
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
                            What is information security?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(0) }">
                            <p><strong>Lunio</strong> is always looking for talented <a href="#">information</a> security and IT risk management professionals who are dedicated, hard working and looking for a challenge. If you are interested in employment with <strong>Lunio</strong>, a company who values you and your family, visit our careers page.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
                            How do I secure my computer?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(1) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a href="#">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
                            What is data management?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(2) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.</p>
                            <p>Tunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
                            How do I protect the data I have?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(3) }">
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are detachable</li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into individual controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
                            What are my information security responsibilities?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(4) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                        </div>
                    </div>
                    <div class="accordion-section">
                        <div class="accordion-header" (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }">
                            Can I use email to send sensitive information?
                        </div>
                        <div class="accordion-content" [ngClass]="{ 'open': isSectionOpen(5) }">
                            <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.</p>
                            <ul>
                                <li>a console</li>
                                <li>Two Joy-Con controllers that are <a href="#">detachable</a></li>
                                <li>A grip that enables you to combine them into a single gamepad for play on the TV</li>
                                <li>Two straps for turning the Joy-Cons into <strong>individual</strong> controllers</li>
                                <li>A dock which you can use to connect your console to the television for traditional gameplay</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Feedback -->
<app-feedback-style-one></app-feedback-style-one>

<!-- Resources -->
<div class="resources-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Discover Our Latest Resources</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="resources-box">
                    <div class="image">
                        <a routerLink="/case-studies-details" class="d-block">
                            <img src="assets/img/resources/resources1.jpg" alt="resources-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-studies" class="category">White Paper</a>
                        <h3><a routerLink="/case-studies-details">Cyber Security Protects Sensitive Data</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a routerLink="/case-studies-details" class="link-btn">View Case Studie Details <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="resources-box">
                    <div class="image">
                        <a routerLink="/case-studies-details" class="d-block">
                            <img src="assets/img/resources/resources2.jpg" alt="resources-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-studies" class="category">Data</a>
                        <h3><a routerLink="/case-studies-details">The Road To Recovery After A Cyber Data Hijack</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a routerLink="/case-studies-details" class="link-btn">View Case Studie Details <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="resources-box">
                    <div class="image">
                        <a routerLink="/case-studies-details" class="d-block">
                            <img src="assets/img/resources/resources3.jpg" alt="resources-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-studies" class="category">Security</a>
                        <h3><a routerLink="/case-studies-details">The Steps to Gaining Privileged Access Security</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a routerLink="/case-studies-details" class="link-btn">View Case Studie Details <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Call to Action -->
<div class="cta-area pb-100">
    <app-call-to-action></app-call-to-action>
</div>