<app-homefive-banner></app-homefive-banner>

<app-services-style-four></app-services-style-four>

<app-funfacts></app-funfacts>

<div class="pt-100">
    <app-our-approach></app-our-approach>
</div>

<app-trust-world></app-trust-world>

<div class="ptb-100">
    <app-feedback-style-four></app-feedback-style-four>
</div>

<app-team></app-team>

<app-how-we-work></app-how-we-work>

<app-pricing></app-pricing>

<app-free-quote></app-free-quote>

<app-privacy-performance></app-privacy-performance>

<app-partner></app-partner>