<div
    class="team-area pt-100 bg-f5f8ff"
    [ngClass]="{'d-none': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title">
            <h2>Our Team of Experts</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/team1.jpg" alt="team-member">
                    <div class="content">
                        <h3>David Conway <span>Security Lead</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/team2.jpg" alt="team-member">
                    <div class="content">
                        <h3>Sarah Taylor <span>Developer</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-team-member">
                    <img src="assets/img/team/team3.jpg" alt="team-member">
                    <div class="content">
                        <h3>Joe Root <span>Developer</span></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="view-more-box">
                    <a routerLink="/team" class="default-btn"><span>View All Expert</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
</div>

<!-- This section for Home Demo - 5 -->
<div
    class="team-style-two-area pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-5'}"
>
    <div class="container">
        <div class="section-title">
            <h2>Our Special Team To Protect You All The Time</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="assets/img/team-two/team-1.jpg" alt="card">
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>James Watson</h3>
                        <span>Security Analytics</span>
                        <div class="icon">
                            <i class='lni lni-chevron-right'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="assets/img/team-two/team-2.jpg" alt="card">
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Jane Ronan</h3>
                        <span>Developer</span>
                        <div class="icon">
                            <i class='lni lni-chevron-right'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="assets/img/team-two/team-3.jpg" alt="card">
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>John Karahan</h3>
                        <span>Security Lead</span>
                        <div class="icon">
                            <i class='lni lni-chevron-right'></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team-card">
                    <div class="team-image">
                        <img src="assets/img/team-two/team-4.jpg" alt="card">
                        <ul class="social-links">
                            <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                            <li><a href="#" target="_blank"><i class="lni lni-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="content">
                        <h3>Victor James</h3>
                        <span>Developer</span>

                        <div class="icon">
                            <i class='lni lni-chevron-right'></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>