<div
    class="features-area pt-100 pb-75"
    [ngClass]="{'d-none': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon7.png" alt="services-icon">
                    </div>
                    <h3><a routerLink="/services-details">Security Advisory</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon8.png" alt="services-icon">
                    </div>
                    <h3><a routerLink="/services-details">Remote Workers</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-features-box">
                    <div class="icon">
                        <img src="assets/img/services/services-icon9.png" alt="services-icon">
                    </div>
                    <h3><a routerLink="/services-details">Industry Certified</a></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This section for Home Demo - 6 -->
<div
    class="lunio-features-area pb-75 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6">
                <div class="single-lunio-features-card">
                    <div class="icon">
                        <i class="lni lni-shield"></i>
                    </div>
                    <h3>
                        <a routerLink="/services-details">Data Security</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                    <a routerLink="/services-details" class="features-btn">View Details <i class="lni lni-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-lunio-features-card">
                    <div class="icon">
                        <i class="lni lni-cloud"></i>
                    </div>
                    <h3>
                        <a routerLink="/services-details">Cloud Security</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                    <a routerLink="/services-details" class="features-btn">View Details <i class="lni lni-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-lunio-features-card">
                    <div class="icon">
                        <i class="lni lni-lock-alt"></i>
                    </div>
                    <h3>
                        <a routerLink="/services-details">Info Security</a>
                    </h3>
                    <p>Lorem ipsum dolor sit amet, consecte adipiscing elit.</p>
                    <a routerLink="/services-details" class="features-btn">View Details <i class="lni lni-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>