<header
    class="header-area white-header"
    [ngClass]="{'p-relative': router.url === '/index-7'}"
>

    <!-- Top Header Area -->
    <div
        class="top-header-area"
        [ngClass]="{'main-color': router.url === '/index-5'}"
    >
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <ul class="top-header-contact-info">
                        <li class="email">Email: <a href="mailto:hello@lunio.com"><i class="lni lni-envelope"></i> hello@apcxcyber.com</a></li>
                        <li class="phone-number">Phone: <a href="tel:+1-485-456-0102"><i class="lni lni-phone"></i> +1-485-456-0102</a></li>
                    </ul>
                </div>
                <div class="col-lg-6 col-md-12">
                    <ul class="top-header-right-side">
                        <li><a routerLink="/contact"><i class="lni lni-headphone-alt"></i> Support Center</a></li>
                        <li class="language-switcher" [class.active]="switcherClassApplied">
                            <span (click)="switcherToggleClass()"><img src="assets/img/flag/flag1.png" alt="flag"> English</span>
                            <ul class="drop">
                                <li><a href="javascript:void(0)"><img src="assets/img/flag/flag1.png" alt="flag"> English</a></li>
                                <li><a href="javascript:void(0)"><img src="assets/img/flag/flag2.png" alt="flag"> Spanish</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Navbar Area -->
    <div class="navbar-area" [ngClass]="{'sticky': isSticky}">
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-light" [class.active]="classApplied">
                <a class="navbar-brand" routerLink="/"><img src="assets/img/white-logo.png" alt="logo"></a>
                <button class="navbar-toggler" type="button" (click)="toggleClass()">
                    <span class="burger-menu">
                        <span class="top-bar"></span>
                        <span class="middle-bar"></span>
                        <span class="bottom-bar"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse mean-menu">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Home</a>
                            <ul class="dropdown-menu">

                            </ul>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Services</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a  class="nav-link">Application Security</a></li>
                                <li class="nav-item"><a class="nav-link">Cloud Security</a></li>
                                <li class="nav-item"><a  class="nav-link">Infrastructure Security</a></li>
                                <li class="nav-item"><a class="nav-link">Threat Hunter</a></li>
                                <li class="nav-item"><a  class="nav-link">Disaster Planning</a></li>
                                <li class="nav-item"><a class="nav-link">Incident Responder</a></li>
                                <li class="nav-item"><a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">More Services</a></li>
                            </ul>
                        </li>


                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog-grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Blog Grid</a></li>
                                <li class="nav-item"><a routerLink="/blog-left-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Blog Left Sidebar</a></li>
                                <li class="nav-item"><a routerLink="/blog-right-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Blog Right Sidebar</a></li>
                                <li class="nav-item"><a routerLink="/blog-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Contact</a></li>
                    </ul>
                    <ul class="navbar-nav for-responsive">
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Home</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - One</a></li>
                                <li class="nav-item"><a routerLink="/index-2" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - Two</a></li>
                                <li class="nav-item"><a routerLink="/index-3" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - Three</a></li>
                                <li class="nav-item"><a routerLink="/index-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - Four</a></li>
                                <li class="nav-item"><a routerLink="/index-5" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - Five</a></li>
                                <li class="nav-item"><a routerLink="/index-6" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - Six</a></li>
                                <li class="nav-item"><a routerLink="/index-7" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Home Demo - Seven</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Services</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/services-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Application Security</a></li>
                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" (click)="toggleClass()">Cloud Security</a></li>
                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" (click)="toggleClass()">Infrastructure Security</a></li>
                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" (click)="toggleClass()">Threat Hunter</a></li>
                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" (click)="toggleClass()">Disaster Planning</a></li>
                                <li class="nav-item"><a routerLink="/services-details" class="nav-link" (click)="toggleClass()">Incident Responder</a></li>
                                <li class="nav-item"><a routerLink="/services" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">More Services</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Case Studies</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/case-studies" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Case Studies</a></li>
                                <li class="nav-item"><a routerLink="/case-studies-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Case Studies Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Pages</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/about" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">About Us</a></li>
                                <li class="nav-item"><a routerLink="/team" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Team</a></li>
                                <li class="nav-item"><a routerLink="/pricing" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Pricing</a></li>
                                <li class="nav-item"><a routerLink="/feedback" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">Feedback</a></li>
                                <li class="nav-item"><a routerLink="javascript:void(0)" class="dropdown-toggle nav-link">Shop</a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Shop</a></li>
                                        <li class="nav-item"><a routerLink="/product/black-mens-t-shirt" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Products Details</a></li>
                                        <li class="nav-item"><a routerLink="/cart" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Cart</a></li>
                                        <li class="nav-item"><a routerLink="/checkout" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item"><a routerLink="/profile-authentication" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">My Account</a></li>
                                <li class="nav-item"><a routerLink="/faq" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">FAQ</a></li>
                                <li class="nav-item"><a routerLink="/privacy-policy" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Privacy Policy</a></li>
                                <li class="nav-item"><a routerLink="/terms-conditions" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Terms & Conditions</a></li>
                                <li class="nav-item"><a routerLink="/not-found" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">404 Error Page</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0)" class="dropdown-toggle nav-link">Blog</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a routerLink="/blog-grid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Blog Grid</a></li>
                                <li class="nav-item"><a routerLink="/blog-left-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Blog Left Sidebar</a></li>
                                <li class="nav-item"><a routerLink="/blog-right-sidebar" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Blog Right Sidebar</a></li>
                                <li class="nav-item"><a routerLink="/blog-details" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Blog Details</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" (click)="toggleClass()">Contact</a></li>
                    </ul>
                    <div class="others-option">
                        <div class="d-flex align-items-center">

                            <div class="option-item">
                                <ul class="social-links">
                                    <li><a href="#" target="_blank"><i class="lni lni-facebook-filled"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="lni lni-twitter-original"></i></a></li>
                                    <li><a href="#" target="_blank"><i class="lni lni-instagram-original"></i></a></li>
                                </ul>
                            </div>
                            <div class="option-item">
                                <a routerLink="/contact" class="default-btn"><span>Get A Free Quote</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

</header>

<!-- Search Overlay -->
<div class="search-overlay" [class.search-overlay-active]="searchClassApplied">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-layer"></div>
            <div class="search-overlay-close" (click)="searchToggleClass()">
                <span class="search-overlay-close-line"></span>
                <span class="search-overlay-close-line"></span>
            </div>
            <div class="search-overlay-form">
                <form>
                    <input type="text" class="input-search" placeholder="Enter your keywords...">
                    <button type="submit"><i class="lni lni-search-alt"></i></button>
                </form>
            </div>
        </div>
    </div>
</div>