<div class="get-privacy-area pt-100 pb-75">
    <div class="container">
        <div class="section-title-wrap">
            <div class="row align-items-center">
                <div class="col-lg-7 col-md-12">
                    <div class="wrap-title">
                        <h2>Get Privacy & Performance Tips, From The Experts</h2>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="wrap-btn">
                        <a routerLink="/services" class="default-btn-two">View All</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="get-privacy-card">
                    <div class="get-privacy-image">
                        <img src="assets/img/get-privacy/get-privacy-1.jpg" alt="privacy-image">
                    </div>
                    <div class="get-privacy-content">
                        <h3>Being The Best-selling Smartphone In This Year</h3>
                        <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="get-privacy-card">
                    <div class="get-privacy-image">
                        <img src="assets/img/get-privacy/get-privacy-2.jpg" alt="privacy-image">
                    </div>
                    <div class="get-privacy-content">
                        <h3>Love Songs Helped Me Through Heartbreak</h3>
                        <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="get-privacy-card">
                    <div class="get-privacy-image">
                        <img src="assets/img/get-privacy/get-privacy-3.jpg" alt="privacy-image">
                    </div>
                    <div class="get-privacy-content">
                        <h3>Two Fashion Designers Busy With 2024 Winter</h3>
                        <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                <div class="get-privacy-card">
                    <div class="get-privacy-image">
                        <img src="assets/img/get-privacy/get-privacy-4.jpg" alt="privacy-image">
                    </div>
                    <div class="get-privacy-content">
                        <h3>Being The Best-selling Smartphone In This Year</h3>
                        <p>Lorem ipsum dolor sit amet consecte adipiscing elt. Adipiscing eleifend dctum potenti mattis viverra.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>