<div class="security-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="security-image">
                    <img src="assets/img/security-bg.jpg" alt="security-bg">
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="security-content">
                    <div class="content">
                        <h2>Complete Website Security</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <ul class="features-list">
                            <li><i class="lni lni-checkmark"></i> Malware Detection Removal</li>
                            <li><i class="lni lni-checkmark"></i> Content Delivery Network</li>
                            <li><i class="lni lni-checkmark"></i> Managed Web Application</li>
                            <li><i class="lni lni-checkmark"></i> 24/7 Cyber Security Support</li>
                            <li><i class="lni lni-checkmark"></i> Protection for Data and Networks</li>
                            <li><i class="lni lni-checkmark"></i> Refresh Network Security Controls</li>
                        </ul>
                        <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
                        <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>