<div
    class="operation-center-area pb-100"
    [ngClass]="{'d-none': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="operation-center-image">
                    <img src="assets/img/operation-center.jpg" alt="operation-center-image">
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="operation-center-content">
                    <h2>24/7 Cybersecurity Operation Center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    <ul class="features-list">
                        <li>
                            <span><i class="lni lni-checkmark"></i> Managed Web Application</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Instant Malware Removal</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Free Delivery Services</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> SIEM Threat Detection</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Content Delivery Network</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Website Hack Repair</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Website Security Services</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Web Camera Services</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> Security Management</span>
                        </li>
                        <li>
                            <span><i class="lni lni-checkmark"></i> 24/7 Hours services</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="shape"></div>
</div>

<!-- This section for Home Demo - 6 -->
<div
    class="lunio-cybersecurity-area ptb-100 d-none"
    [ngClass]="{'d-block': router.url === '/index-6'}"
>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="lunio-cybersecurity-image">
                    <img src="assets/img/cybersecurity/cybersecurity.jpg" alt="image">
                    <div class="cybersecurity-shape">
                        <img src="assets/img/cybersecurity/cybersecurity-shape.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="lunio-cybersecurity-content">
                    <h2>24/7 Cybersecurity Operation Center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Malware Detection Removal</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Content Delivery Network</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Security Management</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> SIEM Threat Detection</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Website Hack Repair</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul class="features-list">
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Managing Cloud Security</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Testing Cyber Security</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Identifying Threats</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> Server Security</span>
                                </li>
                                <li>
                                    <span><i class="lni lni-checkmark"></i> 24/7 Security Support</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cybersecurity-shape-2">
        <img src="assets/img/cybersecurity/cybersecurity-shape-2.png" alt="image">
    </div>
</div>