<div class="keep-world-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>We Try To Keep People Safe & Secure Around The World</h2>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-4 col-sm-4">
                <div class="keep-world-card">
                    <h3>253<span class="sign">M</span></h3>
                    <p>User Trust Us</p>
                    <div class="keep-world-shape">
                        <img src="assets/img/keep-world/keep-world-1.png" alt="image">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="keep-world-card">
                    <img src="assets/img/keep-world/keep-world.gif" alt="image">
                </div>
            </div>
            <div class="col-lg-4 col-sm-4">
                <div class="keep-world-card">
                    <h3>3.5<span class="sign">B</span></h3>
                    <p>Threats Blocked</p>
                    <div class="keep-world-shape-2">
                        <img src="assets/img/keep-world/keep-world-2.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="keep-world-rectangle-shape">
        <img src="assets/img/keep-world/keep-world-rectangle.png" alt="image">
    </div>
    <div class="keep-world-circle-dot">
        <img src="assets/img/keep-world/circle-dot.png" alt="image">
    </div>
    <div class="keep-world-circle-dot-2">
        <img src="assets/img/keep-world/circle-dot.png" alt="image">
    </div>
</div>