<div class="new-main-banner-slides-area new-main-home-slides">
    <owl-carousel-o [options]="homeSlides">
        <ng-template carouselSlide>
            <div class="new-main-banner-slides-item" style="background-image: url(assets/img/new-main-banner/new-banner-3.jpg);">
                <div class="container-fluid">
                    <div class="new-main-banner-slides-content">
                        <span class="sub-title">No #1 Cyber Security Company Of The World</span>
                        <h1>We Try To Provide A Safer world</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra. Eget quam lacus enim porttitor bibendum elit, dui nisl. Aenean turpis ut pretium et.</p>
                        <ul class="banner-btn-box">
                            <li>
                                <a routerLink="/contact" class="default-btn-two">Request Free Access</a>
                            </li>
                            <li>
                                <a routerLink="/contact" class="optional-btn">Get Started Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="new-main-banner-slides-item bg-two" style="background-image: url(assets/img/new-main-banner/new-banner-2.jpg);">
                <div class="container-fluid">
                    <div class="new-main-banner-slides-content">
                        <span class="sub-title">No #1 Cyber Security Company Of The World</span>
                        <h1>Cloud Security Is A Major Priority</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra. Eget quam lacus enim porttitor bibendum elit, dui nisl. Aenean turpis ut pretium et.</p>
                        <ul class="banner-btn-box">
                            <li>
                                <a routerLink="/contact" class="default-btn-two">Request Free Access</a>
                            </li>
                            <li>
                                <a routerLink="/contact" class="optional-btn">Get Started Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="new-main-banner-slides-item bg-three" style="background-image: url(assets/img/new-main-banner/new-banner.jpg);">
                <div class="container-fluid">
                    <div class="new-main-banner-slides-content">
                        <span class="sub-title">No #1 Cyber Security Company Of The World</span>
                        <h1>Secure Your Data In Effective Way</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing eleifend dictum potenti mattis viverra. Eget quam lacus enim porttitor bibendum elit, dui nisl. Aenean turpis ut pretium et.</p>
                        <ul class="banner-btn-box">
                            <li>
                                <a routerLink="/contact" class="default-btn-two">Request Free Access</a>
                            </li>
                            <li>
                                <a routerLink="/contact" class="optional-btn">Get Started Now</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>