<div class="blog-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Latest Blog Post</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog1.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">Security</a></li>
                            <li>15th June, 2024</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Unpatched virtual machine takeover bug affects compute engine</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris nis.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog2.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">2FA</a></li>
                            <li>14th June, 2024</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Now requires app developers to verify their address and use 2FA</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris nis.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog-post">
                    <div class="image">
                        <a routerLink="/blog-details" class="d-block">
                            <img src="assets/img/blog/blog3.jpg" alt="blog-image">
                        </a>
                    </div>
                    <div class="content">
                        <ul class="meta">
                            <li><a routerLink="/blog-grid">Cookies</a></li>
                            <li>13th June, 2024</li>
                        </ul>
                        <h3><a routerLink="/blog-details">Lunio extends support for tracking party cookies until 2023</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Minim veniam, quis nostrud ullamco laboris nis.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape2"><img src="assets/img/shape/shape2.png" alt="shape"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="shape"></div>
</div>