<div class="banner-wrapper-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-content">
                    <h1>We Protect The World's Most Sensitive Data</h1>
                    <p>Maintaining cybersecurity in a constantly evolving threat landscape is a challenge for all organizations. Traditional reactive approaches, in which resources were put toward protecting systems against the biggest known threats.</p>
                    <div class="btn-box d-flex align-items-center">
                        <a routerLink="/contact" class="default-btn"><span>Get Started Now</span></a>
                        <a routerLink="/about" class="link-btn">Know More About Us <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="banner-wrapper-video">
                    <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
                        <a
                            data-lg-size="1280-720"
                            data-src="https://www.youtube.com/watch?v=PWvPbGWVRrU"
                            data-sub-html="<p>Watch Video</p>"
                        >
                            <div class="video-btn">
                                <i class="lni lni-play"></i>
                            </div>
                        </a>
                    </lightgallery>
                </div>
            </div>
        </div>
        <div class="banner-boxes-area">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-features-box">
                        <div class="icon">
                            <img src="assets/img/services/services-icon7.png" alt="services-icon">
                        </div>
                        <h3><a routerLink="/services-details">Security Advisory</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features-box">
                        <div class="icon">
                            <img src="assets/img/services/services-icon8.png" alt="services-icon">
                        </div>
                        <h3><a routerLink="/services-details">Remote Workers</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-features-box">
                        <div class="icon">
                            <img src="assets/img/services/services-icon9.png" alt="services-icon">
                        </div>
                        <h3><a routerLink="/services-details">Industry Certified</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape/shape3.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape/shape5.png" alt="shape"></div>
</div>