.partner-item-card {
    text-align: center;
    overflow: hidden;

    img {
        transition: var(--transition);
    }
    &:hover {
        img {
            transform: scale(.9);
        }
    }
}