<div class="partner-style-two-area pb-100">
    <div class="container">
        <div class="partner-slides">
            <owl-carousel-o [options]="partnerSlides">
                <ng-template carouselSlide>
                    <div class="partner-item-card">
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/img/partner-two/partner1.svg" alt="partner">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item-card">
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/img/partner-two/partner2.svg" alt="partner">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item-card">
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/img/partner-two/partner3.svg" alt="partner">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item-card">
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/img/partner-two/partner4.svg" alt="partner">
                        </a>
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="partner-item-card">
                        <a href="#" target="_blank" class="d-inline-block">
                            <img src="assets/img/partner-two/partner5.svg" alt="partner">
                        </a>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>