<div class="new-main-banner-black-area">
    <div class="container-fluid">
        <div class="new-main-banner-black-content">
            <span class="sub-title">No #1 Cyber Security Company Of The World</span>
            <h1>We Provide The Best Cyber Security</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit adipiscing eleifend dictum potenti mattis viverra eget quam lacus enim porttitor bibendum elit dui nisl aenean turpis ut pretium et dictum dolor quis consect etur feugiat odio luctus a nibh sed sit fames ac at tincidunt quam vita.</p>
            <ul class="banner-btn-box">
                <li>
                    <a routerLink="/contact" class="default-btn-two">Request Free Access</a>
                </li>
                <li>
                    <a routerLink="/contact" class="optional-btn">Get Started Now</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="new-main-banner-black-image">
        <img src="assets/img/new-main-banner/banner-black.png" alt="image">
    </div>
    <div class="new-main-banner-line-shape">
        <img src="assets/img/new-main-banner/line-bg.png" alt="image">
    </div>
</div>