<div class="resources-area pt-100 pb-75">
    <div class="container">
        <div class="section-title">
            <h2>Explore Valuable Cybersecurity Resources</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="resources-box">
                    <div class="image">
                        <a routerLink="/case-studies-details" class="d-block">
                            <img src="assets/img/resources/resources1.jpg" alt="resources-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-studies" class="category">White Paper</a>
                        <h3><a routerLink="/case-studies-details">Cyber Security Protects Sensitive Data</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a routerLink="/case-studies-details" class="link-btn">View Case Studie Details <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="resources-box">
                    <div class="image">
                        <a routerLink="/case-studies-details" class="d-block">
                            <img src="assets/img/resources/resources2.jpg" alt="resources-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-studies" class="category">Data</a>
                        <h3><a routerLink="/case-studies-details">The Road To Recovery After A Cyber Data Hijack</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a routerLink="/case-studies-details" class="link-btn">View Case Studie Details <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="resources-box">
                    <div class="image">
                        <a routerLink="/case-studies-details" class="d-block">
                            <img src="assets/img/resources/resources3.jpg" alt="resources-image">
                        </a>
                    </div>
                    <div class="content">
                        <a routerLink="/case-studies" class="category">Security</a>
                        <h3><a routerLink="/case-studies-details">The Steps to Gaining Privileged Access Security</a></h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adiiscing elit, sed do eiusmod tempor incididunt ut labore et.</p>
                        <a routerLink="/case-studies-details" class="link-btn">View Case Studie Details <i class="lni lni-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape/shape1.png" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape/shape4.png" alt="shape"></div>
    <div class="shape6"><img src="assets/img/shape/shape6.png" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape/shape7.png" alt="shape"></div>
</div>